.country-details,
.no-country-selected {
  min-height: calc(100vh - 85.38px);
  width: 100%;
  padding: 3em 2em;
}

.country-details .back-btn,
.no-country-selected .back-btn {
  display: flex;
  justify-content: space-between;
  width: 90px;
  align-items: center;
  border-radius: 2px;
  padding: 0.5em 1em;
  border: 0;
  font-size: 1em;
  margin-bottom: 2em;
  border: 1px solid transparent;
}

.back-btn:hover {
  cursor: pointer;
  border: 1px solid limegreen;
}

.country-details .flag {
  width: 400px;
  object-fit: cover;
  max-height: 300px;
}

.back-btn ion-icon {
  padding-right: 0.5em;
}

.country-details ul {
  display: flex;
  list-style-type: none;
  position: relative;
  left: -2.5em;
}

.tags ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tags li {
  padding: 0.2em 0.6em;
  border-radius: 2px;
}

.country-details li {
  margin-left: 0.5em;
}

@media (min-width: 900px) {
  .details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .country-details .flag {
    width: 500px;
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex-row .info-left {
    margin-right: 3em;
  }
}
