.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.header h1 {
  font-size: 1.5em;
}

.header .mode {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .mode:hover {
  cursor: pointer;
}

.header .mode p {
  margin-left: 0.5em;
  font-size: 0.8em;
}

@media (min-width: 700px) {
  .header h1 {
    font-size: 2em;
  }

  .header .mode p {
    font-size: 1em;
  }
}
